
*{
  padding:0;
  margin:0;
  box-sizing: border-box;

    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
    color: #552413;
  
}





ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  li{
    float: left;
    
  }

  li a{
    display: block;
    padding: 1.875rem 0.625rem 1.875rem 3.125rem;
    background-color:#f5ebdc;
    text-align: center;

  }

  .navbar{
    position: fixed;
    left: 0rem;
    right:0rem;
    top:0rem;
    background-color: #f5ebdc;
    width:84.375rem;
    font-family: "Abril Fatface", serif;
    font: weight 3.125rem;
    z-index: 1;
  }

  .logo{
    position: absolute;
    left:0.313rem;
    top:0.313rem;
  }
 .navbar a:link{
    text-decoration: none;
    color: black;
    font-weight: bold;
  }

  a:hover{
    color:#fe9346;
    font-weight: bold;
  }

  .container{
    background-color: #f5ebdc;
    height:18.75rem;
    position: relative;
    top:0rem;
  }

  .SLS{
    position: absolute;
    background-color:#efe0cc ;
    height:15.625rem;
    width: 71.875rem;
    top:1.563rem;
    left: 3.125rem;
  }

#hd1{
position: absolute;
font-weight: bolder;
top:3.125rem;
left:3.125rem;
font-size: 1.875rem;
}

#para1{
position: absolute;
top:5.625rem;
left:3.125rem;

}

.SLImage{
  position: absolute;
  left:50rem;
  top:3.125rem;
}

input{
  position: absolute;
  top:120px;
  left:3.125rem;
  width: 550px;
  padding: 20px 20px;
  border:none;
  border-radius: 10px;
}


/* container C */


.containerC{
  position: relative;
  width:1350px;
  height:450px;
  background-color: #d72300;
}
#hd2{
position: absolute;
left:600px;
color: white;
top:50px;
text-align: left;
font-size: 45px;
line-height: 1.6;

}

#para2{
  position: absolute;
  top:350px;
  left:600px;
  color: white;
  font-size: smaller;

}

.google{
  position: absolute;
  top: 270px;
  left:600px;
}

.apple{
  position: absolute;
  top: 270px;
  left:800px;
}



/* News */


#hd4{
  position: relative;
  top: 30px;
  left:70px;

}

.News{
 position: relative; 
 background-color:#f5ebdc ;
 height:500px;
}

.imageN1{
  position: relative;
  top: 70px;
  left: 70px;
}

img{
  border-radius: 15px;
}
.textN1{
  position: absolute;
  top:370px;
  left:70px;
  font-weight: 50px;
}

#hd5a{
  font-size: 25px;
  font-weight: bolder;
}

#hd5b{
  font-weight: 5px;
  font-size:13px;
}

.imageN2{
  position: absolute;
  top:100px;
  left:450px;
}

.textN2{
  position: absolute;
  top:370px;
  left:450px;

}

#hd6a{
  font-size: 25px;
  font-weight: bolder;
}

#hd6b{
  font-weight: 5px;
  font-size:13px;
}

.imageN3{
  position: absolute;
  top:100px;
  left:830px;
}

.textN3{
  position: absolute;
  top:370px;
  left:830px;
  color: #552413;
}

#hd7a{
  font-size: 25px;
  font-weight: bolder;
  color: #552413;
}

#hd7b{
  font-weight: 5px;
  font-size:13px;
}


/* footer */

.footer{
  background-color: #552413 ;
  height:400px;
  position: relative;

}

#hd8{
  color: white;
  position: absolute;
  top:100px;
  left:100px;
  font-weight: bolder;

}

#hd8a{
  color: white;
  position: absolute;
  top:100px;
  left:600px;

}

#hd8b{
  position: absolute;
  color: white;
  top:100px;
  left:850px;
}

#hd8c{
  position: absolute;
  color: white;
  top:100px;
  left:1100px;
}

a:link{
  color: white;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}

.footer2{
  position: absolute;
  top:150px;
  left:600px;
  font-size: 15px;
  line-height: 1.3;
}

.footer3{
  position: absolute;
  top:150px;
  left:850px;
  line-height: 1.3;
}

.footer4{
  position: absolute;
  top:150px;
  left:1100px;
  line-height: 1.3;

}

hr{
  position:relative;
  top:300px;
  color: white;
  width:1100px;
  left:100px ;
  
}

.TM{
  position: relative;
  color: white;
}